body{
    background: #002b36;
    padding : 10px;
}

h1 {
    color: #eaeaea;
}

h2 {
    color : #aeaeae;
}

#chart {
    overflow-x: auto;
    border: 2px solid #B58929;
    position: relative;
}

#arrow {
    position: absolute; /*newly added*/
    z-index: 3;
    font-size: 40px;
    color: red;
    left: 50px;
}

.axis line,
.axis path {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}


